body {
    font-family: Arial, sans-serif;
    background-color: white;
}

p{
    color:white;
}

a{
    color:aqua;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: black;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px white(0, 0, 0, 0.2);
}
h4{
    color:black;
}
h2 {
    text-align: center;
    color:white;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h3 {
    text-align: center;
    margin-bottom: 10px;
    color:white;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 3px;
}

button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
