body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.container {
  align-self: center;
  max-width: 500px;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: white;
  text-align: center;
}

.expense-form,
.expense-list {
  margin-bottom: 20px;
}

h3 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

ul {
  color: white;
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
}
